/**
 *	Login, Lockscreen and Registrations pages
 *	04/2016
 */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");


/* Basic styles */
* { box-sizing: border-box; }
html, body{
	min-height: 100%;
}
body{
	margin: 0;
	background: url(../img/bg_blurred.jpg);
	background-color: #efefef;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.text-center{
	text-align: center;
}
.error-msg{
	margin-bottom: 15px;
	padding: 10px 10px;
	color: #fff;
	background-color: rgba(244,67,54 ,0.7);
	border: 1px solid #f44336;
	border-radius: 2px;
}


/* Gomeniuk styles */
.gomeniuk{
	width: 400px;
	min-height: 200px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #fff;
}
.gomeniuk .heading{
	background-color: #ECF0F1;
	padding: 20px 25px;
}
.gomeniuk .body{
	padding: 20px 25px;
}
.gomeniuk .heading > h1,
.gomeniuk .heading > p{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 26px;
	color: #333;
	font-weight: 500;
	text-align: center;
	margin-bottom: 10px;
}
.gomeniuk .heading > p{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
}
.gomeniuk .body p.info{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 18px 0;
	padding: 0;
	color: #34495E;
	text-align: center;
}

.gomeniuk .avatar{
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: 3px solid #fff;
	margin: 0 auto;
	margin-bottom: 15px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.gomeniuk .half{
	width: 50%;
	float: left;
	padding: 0 5px;
}
.gomeniuk .half:first-child{
	padding-left: 0;
}
.gomeniuk .half:last-child{
	padding-right: 0;
}



/* Tabs styles */
.gomeniuk .tabs{
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
}
.gomeniuk .tabs li{
	list-style: none;
	display: table-cell;
	width: 50%;
}
.gomeniuk .tabs li a{
	display: block;
	width: 100%;
	position: relative;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: #BDC3C7;
	color: #fff;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.gomeniuk .tabs li a:hover{
	background: #CED1D4;
}
.gomeniuk .tabs li a.active,
.gomeniuk .tabs li a.active:hover{
	color: #343434;
	background: #fff;
}
.gomeniuk .tabs-inner{
	display: none;
}
.gomeniuk .tabs-inner.active{
	display: block;
}




/* Input styles */
.gomeniuk_group{
	margin-bottom: 25px;
	position: relative;
}
input[type="text"],
input[type="password"] {
	width: 100%;
	margin: 0;
	height: 36px;
	line-height: 36px;
	border: none;
	border-bottom: 1px solid #1abc9c;
	outline: none;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #333;
	position: relative;
	z-index: 100;
	background: transparent;
}
input[type="text"] + label,
input[type="password"] + label{
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #1abc9c;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
input[type="text"]:focus + label,
input[type="password"]:focus + label,
input[type="text"]:valid + label,
input[type="password"]:valid + label{
	height: 18px;
	line-height: 18px;
	font-size: 10px;
	color: #666;
	top: -18px; 
}
input[type="text"]:valid + label,
input[type="password"]:valid + label{
	color: transparent;
}

.btn{
	display: block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	padding: 0;
	margin: 0;
	outline: none;
	border-radius: 2px;
	border: none;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	box-shadow: none;

	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

.btn.btn-success{
	background: #27AE60;
	color: #fff !important;
}
.btn.btn-success:hover{
	background: #2ECC71;
}
.btn.btn-success:active{
	background: #27AE60;
}

.btn.btn-primary{
	background: #2980B9;
	color: #fff !important;
}
.btn.btn-primary:hover{
	background: #3498DB;
}
.btn.btn-primary:active{
	background: #2980B9;
}